@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #061425;
  --accent: #f4d35e;
  --accent2: #ef4444;
  --accent3: #0ea5e9;
  --secondary: #303a44;
  --secondaryAccent: #577399;
  --secondaryLight: #516170;
  --light: #bdd5ea;

  --primaryDark: #191919;
  --highlight: #e80000;
  --whiteColor: #f7f7ff;
  --blackColor: #000814;
  --greyColor: #c5c5c5;
  --transparent: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #061425;
    --accent: #f4d35e;
    --accent2: #ef4444,
    --accent3: #0ea5e9,
    --secondary: #2b3036;
    --secondaryAccent: #577399;
    --secondaryLight: #516170;
    --light: #bdd5ea;

    --primaryDark: #191919;
    --highlight: #e80000;
    --whiteColor: #f7f7ff;
    --blackColor: #000814;
    --greyColor: #c5c5c5;
    --transparent: transparent;
  }
}

@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  .site-core {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .site-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      180deg,
      transparent 0,
      hsla(0, 0%, 100%, 0.05) 0.5%,
      transparent 1%
    );
    background-image: radial-gradient(
      hsla(0, 0%, 100%, 0.05) 3px,
      transparent 0
    );
    background-repeat: repeat;
    background-size: 65px 65px;
  }

  .border-curved-dashed {
    background-image: url("../public/border-dashed.svg");
    background-repeat: repeat-x;
    background-size: 75px;
    filter: invert(94%) sepia(97%) saturate(1611%) hue-rotate(315deg)
      brightness(109%) contrast(91%);
  }

  .section-portfolio {
    margin-top: -100px;
    background: linear-gradient(var(--accent), var(--accent2));
    &:before {
      content: " ";
      position: absolute;
      top: -150px;
      left: 0;
      width: 100%;
      height: 200px;
      background:  var(--accent);
      display: inline-block;
      clip-path: url(#section-top);
    }
    &:after {
      content: " ";
      position: absolute;
      bottom: -200px;
      left: 0;
      width: 100%;
      height: 200px;
      background:  var(--accent2);
      display: inline-block;
      clip-path: url(#section-bottom);
    }
  }

  .animated-letter {
    animation-fill-mode: forwards;
  }

  .sequence-letters {
    @for $i from 1 through 15 {
      > span:nth-child(#{$i}n) {
        animation-delay: #{($i * 0.05) + 0.1}s;
      }
    }
  }

  .rubberband-hover {
    transition: transform 0.2s;

    &:hover {
      cursor: default;
      color: var(--accent);
      transform: scaleX(1.09) scaleY(0.92);
    }
  }

  .shape-animated {
   // @apply pointer-events-auto transition-all ease-in-out duration-1000  hover:translate-y-[-10px];
  }

  .portfolio-item {
    @apply noise;
    width: 1200px;
    // height: 550px;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }

  .noise {
     background: url("/noise.svg");
  }

  .button {
    border: 2px solid;
    @apply custom-shadow text-accent2 font-bold border-accent2;
    padding: 15px;
    transition: all 0.2s linear;
    &:hover {
      @apply bg-accent2 text-whiteColor;
    }
  }

  .custom-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .section-contact-form {
    z-index: 20;
  }
  .form-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @apply sm:flex-row;
  }

  .form-column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }

  .name-field {
    grid-area: name;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }

  .email-field {
    grid-area: email;
    grid-column: 1 / 2;
  }

  .company-field {
    grid-area: company;
    grid-column: 2 / 3;
  }

  .phone-field {
    grid-area: phone;
    grid-column: 2 / 3;
  }

  .message-field {
    grid-area: message;
    grid-column: 1 / 3;
  }

  h1 {
    word-break: break-all;
    @apply text-4xl sm:text-4xl md:text-6xl lg:text-7xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-xl md:text-4xl;
  }

  p {
    @apply text-base;
  }

  label {
    @apply text-xl font-bold;
  }

  button {
    @apply text-lg md:text-xl;
  }

  input,
  textarea {
    width: 100%;
    z-index: 30;
    @apply bg-primary rounded-lg text-accent text-xl p-3;
  }

  span {
    white-space: nowrap;
  }

  .send-button {
    @apply text-accent font-bold text-4xl;
    transition: all 0.2s linear;
    &:hover {
      @apply text-whiteColor font-bold;
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInLeft {
    opacity: 0;
    display: inline-block;
    animation-name: slideInLeft;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }

  @keyframes slideInBottom {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    50% {
      opacity: 1;
      transform: translate3d(0, -10px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInBottom {
    opacity: 0;
    display: inline-block;
    animation-name: slideInBottom;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  @keyframes slideInTop {
    0% {
      opacity: 0;
      transform: translate3d(0, -50px, 0);
    }
    50% {
      opacity: 1;
      transform: translate3d(0, 10px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInTop {
    opacity: 0;
    animation-name: slideInTop;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    opacity: 0;
    display: inline-block;
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @keyframes bounceIn {
    0% {
      opacity: 1;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      opacity: 1;
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      opacity: 1;
      transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .bounceIn {
    opacity: 0;
    display: inline-block;
    animation-name: bounceIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @keyframes bounceInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100px, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
    75% {
      opacity: 1;
      transform: translate3d(0, -10px, 0);
    }
    90% {
      opacity: 1;
      transform: translate3d(0, 5px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  .bounceInDown {
    opacity: 0;
    display: inline-block;
    animation-name: bounceInDown;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }

  @keyframes bounceInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0, -25px, 0);
    }
    75% {
      opacity: 1;
      transform: translate3d(0, 10px, 0);
    }
    90% {
      opacity: 1;
      transform: translate3d(0, -5px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  .bounceInUp {
    opacity: 0;
    display: inline-block;
    animation-name: bounceInUp;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }

  @keyframes rotateIn {
    0% {
      transform-origin: center;
      transform: rotate3d(0, 0, 1, -200deg);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  .rotateIn {
    opacity: 0;
    display: inline-block;
    animation-name: rotateIn;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
